.lpb-form__actions {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25), 0 0 12px rgba(0, 0, 0, .25);
  display: flex;
  flex-wrap: wrap;
  font-family: var(--me-font-family-sans);
  left: var(--ginVerticalToolbarOffset, 0);
  margin: 0 !important;
  padding: 20px;
  position: fixed;
  right: 0;
  transition: var(--ginTransition, all .2s ease-out);
  z-index: 100;

  & input[type='submit'] {
    margin: 0 10px 0 0;
  }
}
.gin--vertical-toolbar .lpb-form__actions {
  padding-left: 84px;
}
.gin--vertical-toolbar[data-toolbar-menu="open"] .lpb-form__actions {
  padding-left: 275px;
}

/**
  * Component hover styles. Uses a class instead of hover state for slight
  * pause, to avoid jumpiness.
  */
.js-lpb-component.focused {
  outline: 1px solid blue;
}
.js-lpb-component.focused .js-lpb-region {
  outline: 1px dotted rgba(0, 0, 255, 0.5);
}
.js-lpb-component.focused > .js-lpb-ui {
  opacity: 1;
}

/**
 * Mercury Editor controls modifications.
 */
.is-mercury-edit-mode {
  & .lpb-controls {
    padding: 0 5px 0 0;
    border-radius: 4px;
    top: -20px;
    left: -10px;
    right: auto;
    & .reveal-on-hover {
      max-width: 0;
      display: flex;
    }
    &.focused {
      & .reveal-on-hover {
        max-width: 500px;
        animation: controlsSlideOpen .25s;
      }
    }
    &.blurred .reveal-on-hover {
      animation: controlsSlideClosed .25s;
    }
    &.is-layout {
      top: -25px;
      left: -15px;
      right: -10px;
      left: auto;
    }
  }
  & .lpb-controls-label {
    padding: 0 5px 0 0;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 2px;
  }
}

@keyframes controlsSlideOpen {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 500px;
  }
}


@keyframes controlsSlideClosed {
  0% {
    max-width: 500px;
  }
  100% {
    max-width: 0;
  }
}
