{% set all_types = types.layout|merge(types.content) %}
{{ status_messages }}
<div{{attributes}}>
	<h4 class="visually-hidden">{{ 'Add Item'|t }}</h4>
	{% if all_types|length > 0 %}
		<div class="lpb-component-list__search">
			<input class="lpb-component-list-search-input" type="text" placeholder="Filter items..."/>
		</div>
		<div class="lpb-component-list__group">
			{% if types.layout %}
				<div class="lpb-component-list__group--layout">
					<h3 class="lpb-component-list__group-label">{{'Layout'|t}}</h3>
				{% endif %}
				{% for type in types.layout %}
					<div class="lpb-component-list__item type-{{type.id}} is-layout">
						<a{{type.link_attributes.setAttribute('href',type.url)}}>
							{% if type.image %}
								<style>
									.lpb-component-list__item.type-{{type.id}} a::before {
										background: url({{ type.image }});
										background-size: cover;
									}
								</style>
							{% endif %}
							{{ type.label }}</a>
					</div>
				{% endfor %}
				{% if types.layout %}
				</div>
			{% endif %}
			{% for group in groups %}
				{% if group.items|length > 0 %}
				<div class="lpb-component-list__group--content">
					<h3 class="lpb-component-list__group-label">{{ group.label }}</h3>
					{% for type in group.items %}
						{% set link_attributes = type.link_attributes %}
						<div class="lpb-component-list__item type-{{type.id}}">
							{% if type.image %}
							<style>
								.lpb-component-list__item.type-{{ type.id }} a::before {
									background: url({{ type.image }});
									background-size: cover;
								}
							</style>
							{% endif %}
							<a{{type.link_attributes.setAttribute('href',type.url)}}>
								{{ type.label }}
							</a>
						</div>
					{% endfor %}
				</div>
				{% endif %}
			{% endfor %}
		</div>
	{% else %}
		<div class="lpb-component-list__empty-message">
			{{ empty_message }}
		</div>
	{% endif %}
</div>

